<div class="container " *ngIf="isLoggedIN" >
    <h1 class="head1">Login</h1>
    <form   class="myform" #Lform="ngForm" (ngSubmit)="userLogin(Lform.value)"   >
        <div class="imgcontainer">
            <img src="https://cdn-icons-png.flaticon.com/512/5087/5087607.png" alt="Avatar" class="avatar">
          </div>
    
    <div class="row mt-3"  >
        <div class="col-12">
            <label class="lbl" for="Email">Enter Email:</label>
     <input type="text"  name="email"  class="form-control" [(ngModel)]="loginobj.email" placeholder="Enter Email"><br/>
    </div>
    
  </div>
    <div class="row mt-3">
        <div class="col-12">
            <label class="lbl"  for="Password">Enter Password:</label>
       <input type="password" name="password"   class="form-control" [(ngModel)]="loginobj.password"   placeholder="Enter Password"><br/>
    </div>
  </div>
  <div class="col-12">
    <label class="checboxlbl">
        <input  type="checkbox" checked="checked" name="remember"> Remember me
      </label>
  <button type="submit" class="btn btn-primary"  >Login</button>
  
  </div>
  </form>
 
  </div>  
  
   
<app-demo-test *ngIf="!isLoggedIN"></app-demo-test> 
  
