

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>

</head>
<body>

    <div class="container-fluid">
        <div class="row justify-content-center" >

            <div class="col-lg-12" >
                <div class="card text-dark" >
                    <h2 class="card-title text-dark mt-3">VIOOH Creative push for Approval</h2>
                    <hr class=" border position-relative  ">
                    <div class="card-body">

                <!-- Form  -->
                        <form class="row g-3 mt-3 needs-validation"  [formGroup]="UserForm" novalidate style="margin-left: 15%;width: 68%;" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
                <!-- Region -->
                            <label for="url" class="form-label">Region </label>
                            <select class="form-select rounded-pill" name="state" id="validationCustom04" required 
                              name="region" ngDefaultControl (change)="onSelect($event)">
                              <option selected disabled value="">Choose...</option>
                                <option *ngFor="let Countries of Country" value="{{Countries.id}}">{{Countries.name}}</option>
                                
                            </select>

                             
                <!-- End point URL -->
                            <div class="col-md-12">
                                <label for="apikey" class="form-label">Click Through Url</label>
                                <input type="text" class="form-control rounded-pill" name="clickThroughUrl " ngDefaultControl 
                                 [(ngModel)]="Usermodel.clickThroughUrl" formControlName="clickThroughUrl" 
                                 value="https://lemmatechnologies.com/" readonly >
                                <!-- <span *ngIf="Eurl?.invalid && (Eurl?.dirty || Eurl?.touched)">required*</span> -->
                            </div>

                <!-- video Url -->
                            <label for="url" class="form-label">Video Url</label>
                            <div class="input-group has-validation">
                                <input type="url" class="form-control rounded-pill" name="VideoUrl" id="enterurl"  required [(ngModel)]="Usermodel.videoURL"
                                 formControlName="VideoURL" value="https://media.lemmatechnologies.com/media/265/20220708142707-2160x3840_Shopping_ROW.mp4" 
                                 [readOnly]="true" ngDefaultControl >
                            </div>
                            <span *ngIf="VideoURL?.invalid && (VideoURL?.dirty || VideoURL?.touched)">Required*</span>


                <!-- Buyer Id -->
                            <div class="col-md-6">
                            <label for="url" class="form-label">Buyer Creative Id</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control rounded-pill" name="buyerCreativeId" ngDefaultControl  
                                required [(ngModel)]="Usermodel.buyerCreativeId" formControlName="buyer" >
                            </div>
                            <span *ngIf="buyer?.invalid && (buyer?.dirty || buyer?.touched)">ID Required*</span>
                        </div>
                <!-- Account Id -->
                        <div class="col-md-6">
                            <label for="url" class="form-label">Account Id</label>
                                <input type="number" class="form-control rounded-pill" name="accountId" [value]="" [(ngModel)]="Usermodel.accountId"
                                 formControlName="accountId" ngDefaultControl  >
                                    <option *ngFor="let Id of id">{{Id.name}}</option>
                                 <!-- </select> -->
                                 <span *ngIf="accountId?.invalid && (accountId?.dirty || accountId?.touched)">Required*</span>
                             </div>
                            

                <!-- width -->
                            <div class="col-md-6">
                                <label  class="form-label">Width</label>
                                <input type="number" class="form-control rounded-pill" name="width" [(ngModel)]="Usermodel.width" 
                                   formControlName="width" ngDefaultControl >
                                <span *ngIf="width?.invalid && (width?.dirty || width?.touched)">Required*</span>
                             </div>

                <!-- Height -->
                             <div class="col-md-6">
                                <label  class="form-label">Height</label>
                                <input type="number" class="form-control rounded-pill" name="height" [(ngModel)]="Usermodel.height" 
                                formControlName="height" ngDefaultControl >
                                <span *ngIf="height?.invalid && (height?.dirty || height?.touched)">Number is required*</span>
                             </div>

                <!-- AD domain -->
                            <label for="url" class="form-label">advertiserName</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control rounded-pill" name="domain" id="Id"  required ngDefaultControl [(ngModel)]="Usermodel.advertiserName" 
                                formControlName="advertiserName" value="Lemma Technologies" [readOnly]="true" >
                            </div>
                            <span *ngIf="advertiserName?.invalid && (advertiserName?.dirty || advertiserName?.touched)">Required*</span>


                <!-- button -->
                            <div class="col-md-12 text-center ">
                                <button class="btn btn-secondary" title="Submit Your Form"  aria-label="Left Align" > <span class="" aria-hidden="true"></span> Save </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>

