<div class="container" >
  <div class="row justify-content-center">  
    <form  name="form" #intgsform="ngForm" (ngSubmit)="intgsform.valid && onSubmit()"  (ngSubmit)="intgsform.valid && onIntgsCreate(intgsform.value)" 
            (ngSubmit)="intgsform.invalid && unSubmit()" >
      <div class="form-bg" >
        <div class="panel panel-primary">
          <div class="panel-body">
              <br>
              <br>
              <div class="form-group">
                <label for="integrationstatusorg">Organization</label></div>
                <div class=" col-md-3 " style="height:20%;font-size: 15px; width:100%; float: center;" >
                  <ng-select id="integrationstatusorg" name="integrationstatusOrg" [(ngModel)]="selectedOrg" (change)="selectedO()" required>
                    <ng-option *ngFor="let item of orgData" [value]="item.organizationId" >
                      {{item.organizationinfo}}
                    </ng-option>
                  </ng-select>
                 
                </div>
<br/>
                <div class="form-group">
                  <label for="integrationstatuscms">CMS Name</label></div>
                  <div class=" col-md-3 " style="height:20%;font-size: 15px; width:100%">
                  <ng-select id="integrationstatuscms" name="integrationstatusCms" [(ngModel)]="selectedCms" (change)="selectedC()" required >
                    <ng-option *ngFor="let branch of cmsData" [value]="branch.cmsId" >
                      {{branch.cmsinfo}}
                    </ng-option>
                  </ng-select>
                </div>
<br/>

                <div class="form-group">
                  <label for="integrationstatusStatus">Status</label></div>
                  <div class=" col-md-3 " style="height:20%;font-size: 15px; width:100%">
                  <ng-select id="integrationstatusstatus" name="integrationstatusStatus" [(ngModel)]="selectedStatus" (change)="selectedS()"  required>
                    <ng-option *ngFor="let sts of statData" [value]="sts.statusId">
                      {{sts.statusinfo}}
                    </ng-option>
                  </ng-select>
                </div>

<br/>
                <div class="form-group">
                  <label for="I_app">Applications</label>
                  
                </div>  
                <div class=" col-md-3 " style="height:20%;font-size: 15px; width:100%;">
                  <ng-select id="integrationstatusApp" name="integrationstatusApp" [(ngModel)]="selectedApp" (change)="selectedS()"
                     [multiple]="true"  (change)="itemSelected"  required>
                    <ng-option *ngFor="let aap of appData" [value]="aap.applicationId">{{aap.applicationinfo}}</ng-option>
                  </ng-select>
                  
                </div>


<br/>
                <div class="form-group">
                  <label for="App_url">Application URL</label>
                  <input id="appUrl" type="text" class="form-control"
                        name="appUrl" [(ngModel)]="selectedAppUrl"  (change)="changeA($event)">
                </div>  

<br/>
                <div class="form-group">
                  <label for="Comment">Comments</label>
                  <input id="comment" type="text" class="form-control"
                        name="comment" [(ngModel)]="selectedCom"  (change)="changeC($event)">
                </div>                   
              </div>
              <br/>
              <br/>
              <div class="panel-footer" style="text-align: center;">
                <button class="btn btn-primary" type="submit" >Submit</button>
              <br><br>
              <br>
              </div>
            </div>
      </div>
    </form>
  </div>
</div>